

/* headings */

body {
	font-family: serif;
	background-color: #A67264;
}

h1 {
	color: #181818;
	text-align: center;
	font-family: monospace;
	font-size: 40px;
}

h2 {
	color: #181818;
	text-align: center;
	font-family: monospace;
	font-size: 32px;
}

h3 {
	color: #181818;
	text-align: center;
	font-family: monospace;
	text-align: left;
	font-size: 20px;
}

.names {
	font-family: serif;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}


/* images */

img {
	display: inline-block;
	height: 130px;
}

.center {
	display: block;
	margin: auto;
}

.edge-detect1 {
	display: inline-block;
	height: 260px;
}

.edge-detect2 {
	display: inline-block;
	height: 200px;
}



/* paragraphs */

p {
	text-align: left;
	color: black;
}

.code {
	font-family: monospace;
	color: #581A09;
}



/* links */

a.button {
	text-decoration: none;
	color: #181818;
	font-size: 14px;
	font-family: monospace;
	font-weight: bold;
}

.home-button {
	font-size: 35px;
	text-decoration: none;
	color: #181818;
	font-family: monospace;
	font-weight: bold;
}



/* divs */

div.button {
	display: inline-block;
	height: 40px;
	width: 150px;
	padding: 10px;
	background-color: #ECC3B8;
	border-color: #313131;
	border-width: 8px;
	border-style: solid;
	border-radius: 18px;
}


.empty {
	display: inline-block;
	width: 50px;
}

.underline {
	display: block;
	position: relative;
	left: -20px;
	width: 740px;
	height: 14px;
	background-color: #313131;
}

.display {
	display: block;
	width: 700px;
	background-color: #FFFFFF; 
	margin: auto;
	padding: 20px;
	border-color: #313131;
	border-width: 5px;
	border-style: solid;
	border-radius: 15px;
}
